{% extends 'base.html' %}
{% load i18n %}

{% block container %}
    <div class="content">
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
            </div>
        {% endif %}
        <form action="" method="post" class="form-horizontal">{% csrf_token %}
            <fieldset>
                <legend><span class="col-sm-offset-1">{% trans "Password reset" %}</span></legend>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 text-info">
                        {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
                    </div>
                </div>
                {% for field in form %}
                    {% include 'registration/form_field.html' %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id='submit' class="btn primary" type="submit" data-loading-text="{% trans 'loading' %}..." accesskey="Enter">{% trans 'Reset my password' %}</button>
                    </div>
                </div>
            </fieldset>
            <script type="text/javascript">
                $(function(){
                    $(".alert-message").alert();
                    $('#mainForm').submit(function(){
                        $('#submit').button('loading');
                    })
                });
                document.forms[1].elements[2].focus();
            </script>
        </form>
    </div>
{% endblock %}